:root {
	--top-offset: 130px;
}

body {
	background-image: url("http://127.0.0.1/images/backgrounds/stan_lee_chibi.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: contain;
	font-family: 'Montserrat', sans-serif;
}

h2, h3, h4{
	color: white;
	width: 100%;
}


.header-1{
	position: absolute;
	text-align: left;
	top: 0px;
	height: 50px;
}

.header-2{
	position: absolute;
	text-align: right;
	top: 50px;
	height: 30px;
	padding-right: 2rem;
	font-family: 'Bangers', sans-serif;
}

.header-3{
	position: absolute;
	text-align: left;
	top: 70px;
	height: 30px;
}

.header-3 > a{
	color: white;
	margin-left: .25rem;
	margin-right: .25rem;
	padding-left: .25rem;
	padding-right: .25rem;
	font-weight: bold;
	transition: color .5s, box-shadow .5s, background-color .5s;

}

.header-3 > a:hover {
	color: #333333;
	box-shadow: 0px 0px 10px 5px #16ABF1;
	background-color: #16ABF1;
}

h3 i.fa{
	font-size: 1.3rem;
}

.alpha {
	top: 130px;
	position: relative;
	margin-top: 10px;
}

.beta {
	position: fixed;
	top: 130px !important;
	overflow: scroll;
	height: 80% 
}

.gamma {
	position: relative;
	top: 50%;
}
li.block {
	/* border: solid 1px black; */
	margin: 0px;
	padding: 1rem;
	
}

li.block a {
	/* border: solid 1px red; */
	height: 100%;
	width: 100%;
	display: inline-block;
	padding: 1rem;
	color: #747474;
	background: white;
	box-shadow: 0px 0px 10px #747474;
	-o-transition: box-shadow .5s linear .25s, color .2s linear .25s, background .5s, font-weight .25s linear .3s;
	-moz-transition: box-shadow .5s linear .25s, color .2s linear .25s, background .5s, font-weight .25s linear .3s;
	-webkit-transition: box-shadow .5s linear .25s, color .2s linear .25s, background .5s, font-weight .25s linear .3s;
	transition: box-shadow .5s linear .25s, color .2s linear .25s, background .5s, font-weight .25s linear .3s;
}

li.block a:hover {
	box-shadow: 0px 0px 50px #16ABF1;
	background: #747474;
	color: #16ABF1;
	font-weight: bold;
}

header {
	border-bottom-style: solid;
	border-color: black;
	border-bottom-width: 2px;
	margin-bottom: 1rem;
	padding: 1rem;
	position: fixed;
	width: 100%;
	height: 130px;
	line-height: 130px;
	z-index: 9999;
	top: 0;
		
	 /* IE10 */
	background-image: -ms-linear-gradient(left, #333333 0%, #999999 100%);
	/* Mozilla Firefox */
	background-image: -moz-linear-gradient(left, #333333 0%, #999999 100%);
	/* Opera */
	background-image: -o-linear-gradient(left, #333333 0%, #999999 100%);
	/* Webkit (Safari/Chrome 10) */
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #FFFFFF), color-stop(1, #00A3EF));
	/* Webkit (Chrome 11+) */
	background-image: -webkit-linear-gradient(left, #333333 0%, #999999 100%);
	/* Proposed W3C Markup */
	background-image: linear-gradient(left,#333333 0%, #999999 100%);
}

svg {
	border: solid 1px black;
}

li.completed, li.completed * {
	color:  rgba(61, 93, 155, 1);
}