$section-text-size: 12;
body {
	background-color: white;
}

a {
	display: inline-block;
	border: 1px solid black;
	border-radius: 10px;
	padding: .5em;
	margin: 0px .5em;
	text-decoration: none;
	background-color: white;
	color: black;
	transition: color .5s, border .5s, background-color .25s, box-shadow .5s;
}

a:hover {
	color: white;
	border: 1px solid white;
	background-color: black;
	box-shadow: 0px 0px 10px 5px #FFFFFF;
}

div.static-background{
	position: static;
	z-index: -1;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
	background-image: url("/images/backgrounds/checkered_texture_small.png");
	background-repeat: repeat;
	overflow: hidden;
}
