$section-text-size: 12;
section {
	border: 1px solid red;
	width: 100%;
	height: auto;
	min-height: 5rem;
	text-size: $section-text-size px;
}

section p {
	text-align: center;
}

a {
	display: inline-block;
	border: 1px solid black;
	border-radius: 10px;
	padding: .5em;
	margin: 0px .5em;
	text-decoration: none;
	background-color: white;
	color: black;
	transition: color .5s, border .5s, background-color .25s, box-shadow .5s;
}

a:hover {
	color: white;
	border: 1px solid white;
	background-color: black;
	box-shadow: 0px 0px 10px 5px #FFFFFF;
}

