$small-screen-min: 0;
$small-screen-max: 40em;

$medium-screen-min: 40.0625em;
$medium-screen-max: 64em;

$large-screen-min: 64.0625em;
$large-screen-max: 90em;

$xlarge-screen-min: 90.0625em;
$xlarge-screen-max: 120em;

$xxlarge-screen-min: 120.0625em;