section.welcome{
	background-position: center; 
	height: 400px;
}

@media only screen {
	$width: $small-screen-max * $section-text-size;
	section.welcome {
		background-image: url("http://placehold.it/#{$width}x400/#{$color-tertiary}");
		
	}
}

@media only screen and (min-width: $medium-screen-min) {
	$width: $medium-screen-max * $section-text-size;
	section.welcome {
		background-image: url("http://placehold.it/#{$width}x400/#{$color-secondary}");
		
	}
}

@media only screen and (min-width: $large-screen-min) {
	$width: $large-screen-max * $section-text-size;
	section.welcome {
		background-image: url("http://placehold.it/#{$width}x400/#{$color-primary}");
		
	}
}