div.welcome{
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: $color-primary;
}

.image-container > img {
	height: 100%;
	width: 100%;
	border-radius: 50%;
}

$image-container-base: 10rem;
$welcome-height-base: 30rem;

@media only screen {
	div.welcome {
		width: 100%;
		height: $welcome-height-base;
	}
	div.image-container {
		width: ($image-container-base);
		height: ($image-container-base);
	}
}

@media only screen and (min-width: $medium-screen-min) {
	div.welcome {
		height: ($welcome-height-base + 10);
	}
	div.image-container {
		width: ($image-container-base + 2);
		height: ($image-container-base + 2);
	}
}

@media only screen and (min-width: $large-screen-min) {
	div.welcome {
		height: ($welcome-height-base + 20);
	}div.image-container {
		width: ($image-container-base + 4);
		height: ($image-container-base + 4);
	}
}
