section.welcome{
	background-position: center; 
	height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.image-container > img {
	height: 100%;
	width: 100%;
	border-radius: 50%;
}

$image-container-base: 6rem;

@media only screen {
	$width: $small-screen-max * $section-text-size;
	section.welcome {
		width: 100%;		
	}
	div.image-container {
		width: ($image-container-base);
		height: ($image-container-base);
	}
}

@media only screen and (min-width: $medium-screen-min) {
	$width: $medium-screen-max * $section-text-size;
	div.image-container {
		width: ($image-container-base + 2);
		height: ($image-container-base + 2);
	}
}

@media only screen and (min-width: $large-screen-min) {
	$width: $large-screen-max * $section-text-size;
	div.image-container {
		width: ($image-container-base + 4);
		height: ($image-container-base + 4);
	}
}